

<form name="dispForm">

  <div class="form-group">
    <div class="container">
      <div class="row">
        <label class="col-sm-12" for="tipoId"><strong>*</strong>Seleccionar un tipo</label>
      </div>
      <div class="row">
        <select class="form-control col-sm-12" id="tipoId" required ng-model="data.tipo.id">
          <option value=""> 
           Seleccione un tipo
         </option>              
         <option ng-repeat="tipo in tipos" value="{{tipo.id}}"> 
          {{tipo.nombre}} 
        </option>
      </select>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="descripcion"><strong>*</strong> Descripción</label>
  <input type="text" class="form-control" id="descripcion" placeholder="Ingrese una breve descripción" ng-model="data.descripcion" required>
</div>
<div class="form-group">
  <label for="proveedor"><strong>*</strong> Proveedor</label>
  <input type="text" class="form-control" id="proveedor" placeholder="Ingrese una breve descripción" ng-model="data.proveedor" required>
</div>
<div class="form-group">
  <div class="row">
      <label class="col-sm-3" for="downstream"><strong>*</strong> Downstream</label>
      <div class="col-sm-1"><h3></h3></div>
      <label class="col-sm-3" for="upstream"><strong>*</strong> Upstream</label>
      <div class="col-sm-1"><h3></h3></div>
      <label class="col-sm-3" for="atenuacion"><strong>*</strong> Atenuación</label>
      <div class="col-sm-1"><h3></h3></div>
  </div>

  <div class="row">
      <div class="col-sm-3">
        <input type="text" class="form-control" id="downstream" placeholder="Downstream" ng-model="data.downstream" required>
      </div>
      <div class="col-sm-1"><h3></h3></div>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="upstream" placeholder="Upstream" ng-model="data.upstream" required>
      </div>
      <div class="col-sm-1"><h3></h3></div>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="atenuacion" placeholder="Atenuación" ng-model="data.atenuacion" required>
      </div>
      <div class="col-sm-1"><h3></h3></div>
  </div>
</div>
<div class="form-group">
  <div class="container">

    <div class="row">
      <span>Wifi Mac</span>
    </div>
    <div class="row">
      
      <label class="col-sm-2" for="oct1"><strong>*</strong> Mac  1</label>
      <label class="col-sm-2" for="oct2"><strong>*</strong> Mac  2</label>
      <label class="col-sm-2" for="oct3"><strong>*</strong> Mac  3</label>
      <label class="col-sm-2" for="oct4"><strong>*</strong> Mac  4</label>
      <label class="col-sm-2" for="oct5"><strong>*</strong> Mac  4</label>
      <label class="col-sm-2" for="oct6"><strong>*</strong> Mac  6</label>

    </div>

    <!--row-->
    <div class="row">
      <!--col-sm-6a-->
      <div class="col-sm-6">
        <!--container a-->
        <div class="container">
          <!--row a-->
          <div class="row">
            <!--col-sm-3 a1-->
            <div class="col-sm-3">
              <div class="container" style="padding: 0">
                <div class="row" style="padding: 0">
                  <div class="col-sm-6" style="padding: 0"> 
                   <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac11" maxlength="1" placeholder="F" required ng-model="data.mac1_1">
                 </div>
                 <div class="col-sm-6" style="padding: 0">
                  <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac12" maxlength="1" placeholder="F" required ng-model="data.mac1_2">
                </div>
              </div>
            </div>
          </div>
          <!--fin col-sm-3 a1-->
          <!--col-sm-1 a1-->
          <div class="col-sm-1">
            <h3></h3>
          </div>
          <!--fin col-sm-1 a1-->
          <!--col-sm-3 a2-->
          <div class="col-sm-3">
            <div class="container" style="padding: 0">
              <div class="row" style="padding: 0">
                <div class="col-sm-6" style="padding: 0"> 
                  <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac21" maxlength="1" placeholder="A" required ng-model="data.mac2_1"> 
                </div>
                <div class="col-sm-6" style="padding: 0">  
                  <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac22" maxlength="1" placeholder="2" required ng-model="data.mac2_2">
                </div>
              </div>
            </div>
          </div>
          <!--fin col-sm-3 a2-->
          <!--col-sm-1 a2-->
          <div class="col-sm-1">
            <h3></h3>
          </div>
          <!--fin col-sm-1 a2-->  
          <!--col-sm-3 a3-->
          <div class="col-sm-3">
            <div class="container" style="padding: 0">
              <div class="row" style="padding: 0">
                <div class="col-sm-6" style="padding: 0"> 
                  <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac31" maxlength="1" placeholder="1" required ng-model="data.mac3_1"> 
                </div>
                <div class="col-sm-6" style="padding: 0"> 
                  <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac32" maxlength="1" placeholder="2" required ng-model="data.mac3_2">
                </div>
              </div>
            </div>
          </div>
          <!--fin col-sm-3 a3-->
          <!--col-sm-1 a3-->
          <div class="col-sm-1">
            <h3></h3>
          </div>
          <!--fin col-sm-1 a3-->        
        </div>
        <!--fin row a-->
      </div>
      <!--fin container a-->
    </div>
    <!--fin col-sm-6a-->
    <!--col-sm-6b-->
    <div class="col-sm-6">
      <!--container b-->
      <div class="container">
        <!--row b-->
        <div class="row">
          <!--col-sm-3 b1-->
          <div class="col-sm-3">
            <div class="container" style="padding: 0">
              <div class="row" style="padding: 0">
                <div class="col-sm-6" style="padding: 0"> 
                 <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac41" maxlength="1" placeholder="F" required ng-model="data.mac4_1">
               </div>
               <div class="col-sm-6" style="padding: 0">
                <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac42" maxlength="1" placeholder="F" required ng-model="data.mac4_2">
              </div>
            </div>
          </div>
        </div>
        <!--fin col-sm-3 b1-->
        <!--col-sm-1 b1-->
        <div class="col-sm-1">
          <h3></h3>
        </div>
        <!--fin col-sm-1 b1-->
        <!--col-sm-3 b2-->
        <div class="col-sm-3">
          <div class="container" style="padding: 0">
            <div class="row" style="padding: 0">
              <div class="col-sm-6" style="padding: 0"> 
                <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac51" maxlength="1" placeholder="A" required ng-model="data.mac5_1"> 
              </div>
              <div class="col-sm-6" style="padding: 0">  
                <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac52" maxlength="1" placeholder="2" required ng-model="data.mac5_2">
              </div>
            </div>
          </div>
        </div>
        <!--fin col-sm-3 b2-->
        <!--col-sm-1 b2-->
        <div class="col-sm-1">
          <h3></h3>
        </div>
        <!--fin col-sm-1 b2-->  
        <!--col-sm-3 b3-->
        <div class="col-sm-3">
          <div class="container" style="padding: 0">
            <div class="row" style="padding: 0">
              <div class="col-sm-6" style="padding: 0"> 
                <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac61" maxlength="1" placeholder="1" required ng-model="data.mac6_1"> 
              </div>
              <div class="col-sm-6" style="padding: 0"> 
                <input type="text" style="text-transform: uppercase;" class="form-control col" id="mac62" maxlength="1" placeholder="2" required ng-model="data.mac6_2">
              </div>
            </div>
          </div>
        </div>
        <!--fin col-sm-3 b3-->
        <!--col-sm-1 b3-->
        <div class="col-sm-1">
          <h3></h3>
        </div>
        <!--fin col-sm-1 b3-->
      </div>
      <!--fin row b-->
    </div>
    <!--fin container b-->
  </div>
  <!--fin col-sm-6b-->
</div>
<!--fin row-->



<div class="row">
  <div class="col-sm-12" ng-if="!validar(data.mac1_1, 'mac11') || !validar(data.mac1_2, 'mac12') || !validar(data.mac2_1, 'mac21') || !validar(data.mac2_2, 'mac22') || !validar(data.mac3_1, 'mac31') || !validar(data.mac3_2, 'mac32') || !validar(data.mac4_1, 'mac41') || !validar(data.mac4_2, 'mac42')">
    <div class="alert alert-warning">
      <p>Sólo valores hexadecimales (A...F - 1...9)</p>
    </div> 
  </div>
</div>
</div>
</div>

<!--EOC MAC-->

  <div class="container">

    <div class="row">
      <span>EOC Mac</span>
    </div>
    <div class="row">
      
      <label class="col-sm-2" for="oct1"><strong>*</strong> Mac  1</label>
      <label class="col-sm-2" for="oct2"><strong>*</strong> Mac  2</label>
      <label class="col-sm-2" for="oct3"><strong>*</strong> Mac  3</label>
      <label class="col-sm-2" for="oct4"><strong>*</strong> Mac  4</label>
      <label class="col-sm-2" for="oct5"><strong>*</strong> Mac  4</label>
      <label class="col-sm-2" for="oct6"><strong>*</strong> Mac  6</label>

    </div>

    <!--row-->
    <div class="row">
      <!--col-sm-6a-->
      <div class="col-sm-6">
        <!--container a-->
        <div class="container">
          <!--row a-->
          <div class="row">
            <!--col-sm-3 a1-->
            <div class="col-sm-3">
              <div class="container" style="padding: 0">
                <div class="row" style="padding: 0">
                  <div class="col-sm-6" style="padding: 0"> 
                   <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac11" maxlength="1" placeholder="F" required ng-model="data.eocMac1_1">
                 </div>
                 <div class="col-sm-6" style="padding: 0">
                  <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac12" maxlength="1" placeholder="F" required ng-model="data.eocMac1_2">
                </div>
              </div>
            </div>
          </div>
          <!--fin col-sm-3 a1-->
          <!--col-sm-1 a1-->
          <div class="col-sm-1">
            <h3></h3>
          </div>
          <!--fin col-sm-1 a1-->
          <!--col-sm-3 a2-->
          <div class="col-sm-3">
            <div class="container" style="padding: 0">
              <div class="row" style="padding: 0">
                <div class="col-sm-6" style="padding: 0"> 
                  <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac21" maxlength="1" placeholder="A" required ng-model="data.eocMac2_1"> 
                </div>
                <div class="col-sm-6" style="padding: 0">  
                  <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac22" maxlength="1" placeholder="2" required ng-model="data.eocMac2_2">
                </div>
              </div>
            </div>
          </div>
          <!--fin col-sm-3 a2-->
          <!--col-sm-1 a2-->
          <div class="col-sm-1">
            <h3></h3>
          </div>
          <!--fin col-sm-1 a2-->  
          <!--col-sm-3 a3-->
          <div class="col-sm-3">
            <div class="container" style="padding: 0">
              <div class="row" style="padding: 0">
                <div class="col-sm-6" style="padding: 0"> 
                  <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac31" maxlength="1" placeholder="1" required ng-model="data.eocMac3_1"> 
                </div>
                <div class="col-sm-6" style="padding: 0"> 
                  <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac32" maxlength="1" placeholder="2" required ng-model="data.eocMac3_2">
                </div>
              </div>
            </div>
          </div>
          <!--fin col-sm-3 a3-->
          <!--col-sm-1 a3-->
          <div class="col-sm-1">
            <h3></h3>
          </div>
          <!--fin col-sm-1 a3-->        
        </div>
        <!--fin row a-->
      </div>
      <!--fin container a-->
    </div>
    <!--fin col-sm-6a-->
    <!--col-sm-6b-->
    <div class="col-sm-6">
      <!--container b-->
      <div class="container">
        <!--row b-->
        <div class="row">
          <!--col-sm-3 b1-->
          <div class="col-sm-3">
            <div class="container" style="padding: 0">
              <div class="row" style="padding: 0">
                <div class="col-sm-6" style="padding: 0"> 
                 <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac41" maxlength="1" placeholder="F" required ng-model="data.eocMac4_1">
               </div>
               <div class="col-sm-6" style="padding: 0">
                <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac42" maxlength="1" placeholder="F" required ng-model="data.eocMac4_2">
              </div>
            </div>
          </div>
        </div>
        <!--fin col-sm-3 b1-->
        <!--col-sm-1 b1-->
        <div class="col-sm-1">
          <h3></h3>
        </div>
        <!--fin col-sm-1 b1-->
        <!--col-sm-3 b2-->
        <div class="col-sm-3">
          <div class="container" style="padding: 0">
            <div class="row" style="padding: 0">
              <div class="col-sm-6" style="padding: 0"> 
                <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac51" maxlength="1" placeholder="A" required ng-model="data.eocMac5_1"> 
              </div>
              <div class="col-sm-6" style="padding: 0">  
                <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac52" maxlength="1" placeholder="2" required ng-model="data.eocMac5_2">
              </div>
            </div>
          </div>
        </div>
        <!--fin col-sm-3 b2-->
        <!--col-sm-1 b2-->
        <div class="col-sm-1">
          <h3></h3>
        </div>
        <!--fin col-sm-1 b2-->  
        <!--col-sm-3 b3-->
        <div class="col-sm-3">
          <div class="container" style="padding: 0">
            <div class="row" style="padding: 0">
              <div class="col-sm-6" style="padding: 0"> 
                <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac61" maxlength="1" placeholder="1" required ng-model="data.eocMac6_1"> 
              </div>
              <div class="col-sm-6" style="padding: 0"> 
                <input type="text" style="text-transform: uppercase;" class="form-control col" id="eocMac62" maxlength="1" placeholder="2" required ng-model="data.eocMac6_2">
              </div>
            </div>
          </div>
        </div>
        <!--fin col-sm-3 b3-->
        <!--col-sm-1 b3-->
        <div class="col-sm-1">
          <h3></h3>
        </div>
        <!--fin col-sm-1 b3-->
      </div>
      <!--fin row b-->
    </div>
    <!--fin container b-->
  </div>
  <!--fin col-sm-6b-->
</div>
<!--fin row-->



<div class="row">
  <div class="col-sm-12" ng-if="!validar(data.eocMac1_1, 'eocMac11') || !validar(data.eocMac1_2, 'eocMac12') || !validar(data.eocMac2_1, 'eocMac21') || !validar(data.eocMac2_2, 'eocMac22') || !validar(data.eocMac3_1, 'eocMac31') || !validar(data.eocMac3_2, 'eocMac32') || !validar(data.eocMac4_1, 'eocMac41') || !validar(data.eocMac4_2, 'eocMac42')">
    <div class="alert alert-warning">
      <p>Sólo valores hexadecimales (A...F - 1...9)</p>
    </div> 
  </div>
</div>
</div>
</div>
<!--FIN EOC MAC-->





<div class="form-group row">
  <div class="form-group col-sm-12" ng-if="!dispForm.$valid">
    <div class="alert alert-warning">
      <p>Ingrese todos los datos con un <strong>*</strong></p>
    </div> 
  </div> 
</div> 
<div class="form-group">
  <button type="submit" ng-show="dispForm.$valid && validar(data.mac1_1, 'mac11') && validar(data.mac1_2, 'mac12') && validar(data.mac2_1, 'mac21') && validar(data.mac2_2, 'mac22') && validar(data.mac3_1, 'mac31') && validar(data.mac3_2, 'mac32') && validar(data.mac4_1, 'mac41') && validar(data.mac4_2, 'mac42')" class="btn btn-primary" ng-click="agregarDispositivoClienteFuncion()" data-dismiss="modal" aria-describedby="ayuda">Confirmar registro</button>
  <small id="ayuda" class="form-text text-muted">Por favor, verifique cada campo dos veces antes de confirmar el registro. </small>
</div>
</form>